@media screen and (min-width: 320px) and (max-width: 767px) {

    .container {
        width: 90% ;
        margin: 0 auto;
        padding-bottom: 100px;
    }


    .contract {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
    }

    .left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left h3 {
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
    }

    .left p {
        font-size: 37px;
        font-weight: 300;
        line-height: 60px;
        margin-top: 35px;
    }

    .right {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-bottom: 50px;
    }

    .right img {
        width: 522px;
        filter: brightness(100%) contrast(102%) saturate(26%) blur(0px) hue-rotate(0deg);
    }

    .form {
        width: 100%;


    }

    .label {

        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .input {
        padding: 10px;
        width: 100%;
        height: 40px;
        border: 1px solid #e6e6e6;
        outline: none;
        margin-top: 5px;

    }

    .button {

        padding: 0 50px;
        height: 60px;
        background: var(--main-color);
        font-size: 20px;
        font-weight: 500;
        box-shadow: 0px 3px 0px 0px #414F4F;
        border-radius: 5px;
        color: white;
        transition: all 0.3s linear;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .button:hover {
        background: var(--black);
        transition: all 0.3s linear;
    }
}

/* //----------------------------------------------------------------------TABLET----------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .contract {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
    }

    .left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left h3 {
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
    }

    .left p {
        font-size: 37px;
        font-weight: 300;
        line-height: 60px;
        margin-top: 35px;
    }

    .right {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .right img {
        width: 50vw;
        filter: brightness(100%) contrast(102%) saturate(26%) blur(0px) hue-rotate(0deg);

    }

    .form {
        width: 100%;


    }

    .label {

        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .input {
        padding: 10px;
        width: 100%;
        height: 40px;
        border: 1px solid #e6e6e6;
        outline: none;
        margin-top: 5px;

    }

    .button {

        padding: 0 50px;
        height: 60px;
        background: var(--main-color);
        font-size: 20px;
        font-weight: 500;
        box-shadow: 0px 3px 0px 0px #414F4F;
        border-radius: 5px;
        color: white;
        transition: all 0.3s linear;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .button:hover {
        background: var(--black);
        transition: all 0.3s linear;
    }
}

/* "//-------------------------------------------------------DESKTOP----------------------------------------------------------------- */

@media (min-width: 1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }


    .contract {
        width: 100%;
        height: 450px;
        display: flex;
    }

    .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left h3 {
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
    }

    .left p {
        font-size: 37px;
        font-weight: 300;
        line-height: 60px;
        margin-top: 35px;
    }

    .right {
        width: 50%;
        height: 100%;
    }

    .right img {
        width: 522px;
        filter: brightness(100%) contrast(102%) saturate(26%) blur(0px) hue-rotate(0deg);
    }

    .form {
        width: 100%;


    }

    .label {

        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .input {
        padding: 10px;
        width: 100%;
        height: 40px;
        border: 1px solid #e6e6e6;
        outline: none;
        margin-top: 5px;

    }

    .button {

        padding: 0 50px;
        height: 60px;
        background: var(--main-color);
        font-size: 20px;
        font-weight: 500;
        box-shadow: 0px 3px 0px 0px #414F4F;
        border-radius: 5px;
        color: white;
        transition: all 0.3s linear;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .button:hover {
        background: var(--black);
        transition: all 0.3s linear;
    }
}