@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        background-color: var(--black);
        width: 100%;
    }

    .footer {
        width: 320px;
        /*height: 350px;*/
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 35px;
    }

    .logo {
        width: 350px;
    }

    .infoList {
        display: flex;
        flex-direction: column;
    }

    .infoItem {

    }

    .infoItem:first-child {
        margin-bottom: 15px;
    }

    .infoItem p {
        font-size: 18px;
        font-weight: 300;
        color: white;

    }

    .contacts {
        width: 350px;
    }

    .contacts p {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        color: white;
        text-align: center;
    }

    .contacts a {
        display: block;
        font-size: 25px;
        font-weight: 800;
        color: white;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
        text-align: center;
    }
}

/* //----------------------------------------------------------------------TABLET----------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {}
/* "//-------------------------------------------------------DESKTOP----------------------------------------------------------------- */

@media (min-width: 1200px) {
    .container {
        background-color: var(--black);
        width: 100%;
    }

    .footer {
        width: 1170px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 35px;
    }

    .logo {
        width: 350px;
    }

    .infoList {
        display: flex;
        flex-direction: column;
    }

    .infoItem {

    }

    .infoItem:first-child {
        margin-bottom: 15px;
    }

    .infoItem p {
        font-size: 18px;
        font-weight: 300;
        color: white;
    }

    .contacts {
        width: 350px;
    }

    .contacts p {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        color: white;
    }

    .contacts a {
        display: block;
        font-size: 25px;
        font-weight: 800;
        color: white;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
    }
}