@media screen and (min-width: 320px) and (max-width: 767px) {
    .container{
        width: 100%;
        min-height: 300px;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
    }
    .text{
        font-size: 30px;
        font-weight: 300;
        line-height: 39px;
        text-align: center;
        margin-bottom: 50px;
    }
    .map{
        pointer-events: none;
    }
}

/* //----------------------------------------------------------------------TABLET----------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container{
        width: 100%;
        min-height: 300px;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
    }
    .text{
        font-size: 30px;
        font-weight: 300;
        line-height: 39px;
        text-align: center;
        margin-bottom: 50px;
    }
    .map{
        pointer-events: none;
    }
}
/* "//-------------------------------------------------------DESKTOP----------------------------------------------------------------- */

@media (min-width: 1200px) {
    .container{
        width: 100%;
        min-height: 300px;
        padding: 100px 0;
    }
    .title{
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
    }
    .text{
        font-size: 30px;
        font-weight: 300;
        line-height: 39px;
        text-align: center;
        margin-bottom: 50px;
    }
    .map{
        pointer-events: none;
    }
}

